.card {
    background-color: #fff;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
}

.card__image {
    max-width: 100%;
}

.card__content {
    padding: 1em;
}

.card__title {
    margin: 0;
}

.card__subtitle {
    margin-top: 0;
    font-style: italic;
}

.card__date {
    font-style: italic;
    font-size: 0.8em;
}